---
layout: default
---

<div class="home">

  <h1 class="page-heading">Blog posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}

      <paper-material elevation="1">
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>

          {{ post.excerpt }}
        </li>
      </paper-material>

    {% endfor %}
  </ul>

  {% if site.posts.size == 0 %}
    <paper-material>
      <p><i>Oops, there is nothing here right now. Check back later.</i></p>
    </paper-material>
  {% endif %}

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>